.input-caret {
  width: 1px;
  height: 100%;
  animation: showHide 0.5s infinite alternate;
}

@keyframes showHide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.editable-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
}

.editable-div::-webkit-scrollbar {
  opacity: 0;
  height: 0px;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  height: 50px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 20px;
  width: 500px;
}
